
# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

RewriteRule .* index.php [L]

#RewriteRule ^nos-zones-d-interventions.html$   /must/zones-intervention.php [L]